<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
    <body>
        {% if img_obj %}
            <h3>Welcome to my page : {{img_obj.title}}</h3>
<!--            <img src="{{file_image.file_img.url}}" alt="File image" style="max-height:300px">-->
            <img src="static/image.jpg" alt="Image" style="max-height:300px">
        {% endif %}
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    </body>
</html>